<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset=utf-8 />
	<title>ID Recognition System</title>
	<style>
	.row {
		margin-top: 50px;
	}
	</style>
</head>
<body>
	<div class="container">
		<h1 class="text-center">ID Recognition Demo System</h1>
		<div class="row">
			<form id="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
				<div class="form-group">
					<label for="image_file">Upload ID image</label>
					<input type="file" name="image" id="image_file" onchange="readURL(this);" />
				</div>
				<button class="btn btn-primary" type="submit">Extract ID information</button>
			</form>
		</div>
		{% for r in result %}
		<div class="row">
			<div class="col-md-6">
				<img class="img-responsive" id="image" src="{{ r.image }}" alt="ID Image" />
			</div>
			<div class="col-md-6">
				<textarea class="form-control" rows="18">{{ r.text }}</textarea>
			</div>
		</div>
		{% endfor %}
	</div>
	<script>
	function readURL(input) {
	    if (input.files && input.files[0]) {
          	var filesize = document.getElementById('image_file').files[0].size;
          	if (filesize > 100 * 500000) {
          		alert("The file is too large.");
          		document.getElementById("form").reset();
          	}
	    }
	}
	</script>
</body>
</html>
